@font-face {
    font-family: 'Sukhumvit';
    /*src: url('SukhumvitSet.ttc') format('truetype');*/
    src: url('SukhumvitSet_3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sukhumvit';
    /*src: url('SukhumvitSet.ttc') format('truetype');*/
    src: url('SukhumvitSet_5.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}